.login {
  background-image: url("../../../images/wallpaperbg.png");
  width: 100%;
  padding: 100px;
  background-size: cover;
  background-position: center; }
  .login .success {
    margin-top: 69px !important; }
    .login .success h3 {
      text-align: center;
      color: #5dbb46; }
    .login .success h4 {
      text-align: center;
      margin: 0px;
      font: normal normal 300 30px/120% Source Sans Pro, sans-serif; }
    .login .success .success-sign-up {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .login .success .success-sign-up .timer {
        width: 100%;
        margin-top: 30px; }
        .login .success .success-sign-up .timer .svg-style {
          transform: translate(0px, 0%) rotate(270deg) scale(1.5, 1.5); }
        .login .success .success-sign-up .timer #ell {
          fill: #77777712 !important;
          stroke: #5dbb46; }
        .login .success .success-sign-up .timer .time {
          font-size: 70px !important;
          line-height: 1 !important;
          text-align: center;
          transform: translate(0px, -120%); }
        .login .success .success-sign-up .timer .label {
          text-align: center;
          transform: translate(0px, -120%); }
          .login .success .success-sign-up .timer .label span {
            font-size: 24px !important;
            line-height: 1; }
  .login .container {
    background-color: #fff;
    padding: 50px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 1px 10px 1px #60676059;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 900px; }
    .login .container img {
      width: 370px;
      margin: 0px auto; }
    .login .container .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px; }
      .login .container .form p, .login .container .form h3 {
        margin: 0px !important; }
      .login .container .form .my-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0; }
        .login .container .form .my-row .my-label {
          margin-bottom: 5px; }
          .login .container .form .my-row .my-label p {
            margin: 0px !important;
            font-size: 18px !important;
            color: #5dbb46; }
          .login .container .form .my-row .my-label span {
            color: red;
            font-size: 12px;
            opacity: 0; }
          .login .container .form .my-row .my-label span.opactiy-one {
            color: #5dbb46;
            opacity: 1 !important; }
        .login .container .form .my-row input {
          font: normal normal 19px/normal Source Sans Pro, sans-serif;
          height: 45px;
          width: 450px;
          font-size: 16px;
          border: 1px solid #5dbb46;
          border-radius: 99px;
          text-indent: 25px; }
        .login .container .form .my-row input::placeholder {
          font-weight: 300; }
      .login .container .form .error p {
        color: red !important; }
      .login .container .form .error span {
        opacity: 1 !important; }
      .login .container .form .error input {
        border-color: red !important;
        color: red !important; }
      .login .container .form .last-row {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px; }
        .login .container .form .last-row .checkbox {
          display: flex; }
          .login .container .form .last-row .checkbox p {
            color: rgba(0, 0, 0, 0.65);
            font-size: 18px !important; }
          .login .container .form .last-row .checkbox input {
            margin-top: 10px;
            margin-right: 10px; }
        .login .container .form .last-row button {
          background-color: #5dbb46;
          color: #fff;
          border: none;
          width: 200px;
          font-size: 18px;
          height: 45px;
          border-radius: 50px; }
        .login .container .form .last-row button:hover {
          background-color: #83d86f !important; }
      .login .container .form .row-1 {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .login .container .form .row-1 .my-row1 {
          width: 245px; }
        .login .container .form .row-1 .my-row2 {
          width: 200px; }
        .login .container .form .row-1 .my-row input {
          width: 200px; }
  .login .bottom-last-row {
    width: 40%;
    margin: 0px auto;
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 8px;
    height: 56px;
    max-width: 700px; }
    .login .bottom-last-row p {
      margin: 0px !important;
      text-align: center; }
      .login .bottom-last-row p a {
        color: #5dbb46;
        font-weight: 500;
        text-decoration: none; }
      .login .bottom-last-row p a:hover {
        color: #83d86f; }

@media only screen and (min-width: 1600px) {
  .login .container {
    width: 900px !important; } }
@media only screen and (min-width: 1400px) {
  .login .container {
    width: 70% !important; }
  .login .bottom-last-row {
    width: 50%; } }
@media only screen and (min-width: 1200px) {
  .login .success {
    margin-top: 89px; }
  .login .container {
    width: 90% !important; }
  .login .bottom-last-row {
    width: 60%; } }
@media only screen and (min-width: 992px) {
  .login .container {
    width: 100% !important; }
  .login .bottom-last-row {
    width: 70%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login .success h3 {
    color: #5dbb46; }
  .login .success h4 {
    font: normal normal 300 30px/120% Source Sans Pro, sans-serif; }
  .login .success .success-sign-up {
    width: 100%; }
    .login .success .success-sign-up .timer {
      width: 100%;
      margin-top: 30px; }
      .login .success .success-sign-up .timer .svg-style {
        transform: translate(0px, 0%) rotate(270deg) scale(1.3, 1.3); }
      .login .success .success-sign-up .timer #ell {
        fill: #77777712 !important;
        stroke: #5dbb46; }
      .login .success .success-sign-up .timer .time {
        font-size: 65px !important;
        line-height: 1;
        text-align: center;
        transform: translate(0px, -124%); }
      .login .success .success-sign-up .timer .label {
        text-align: center;
        transform: translate(0px, -144%); }
        .login .success .success-sign-up .timer .label span {
          font-size: 23px !important;
          line-height: 0.5 !important; }
  .login .container {
    width: 100% !important; }
    .login .container .form .my-row input {
      width: 390px; }
    .login .container .form .row-1 {
      width: 390px;
      display: block; }
      .login .container .form .row-1 .my-row {
        width: 45%; }
        .login .container .form .row-1 .my-row input {
          width: 100%; }
      .login .container .form .row-1 .my-row1 {
        float: left; }
      .login .container .form .row-1 .my-row2 {
        float: right; }
    .login .container .form .last-row {
      width: 390px; }
      .login .container .form .last-row p {
        text-align: justify; }
  .login .bottom-last-row {
    width: 70%; } }
@media only screen and (max-width: 767px) {
  .login {
    padding: 100px 60px; }
    .login .success h3 {
      color: #5dbb46; }
    .login .success h4 {
      font: normal normal 300 30px/120% Source Sans Pro, sans-serif; }
    .login .success .success-sign-up {
      width: 100%; }
      .login .success .success-sign-up .timer {
        width: 100%;
        margin-top: 30px; }
        .login .success .success-sign-up .timer .svg-style {
          transform: translate(0px, 0%) rotate(270deg) scale(1.2, 1.2); }
        .login .success .success-sign-up .timer #ell {
          fill: #77777712 !important;
          stroke: #5dbb46; }
        .login .success .success-sign-up .timer .time {
          font-size: 60px !important;
          line-height: 1;
          text-align: center;
          transform: translate(0px, -130%); }
        .login .success .success-sign-up .timer .label {
          text-align: center;
          transform: translate(0px, -150%); }
          .login .success .success-sign-up .timer .label span {
            font-size: 21px !important;
            line-height: 0.5 !important; }
    .login .container {
      width: 100% !important; }
      .login .container .form p {
        text-align: left !important; }
      .login .container .form .my-row {
        width: 390px; }
        .login .container .form .my-row input {
          width: 100%; }
      .login .container .form .row-1 {
        width: 390px;
        display: block; }
        .login .container .form .row-1 .my-row {
          width: 45%; }
          .login .container .form .row-1 .my-row input {
            width: 100%; }
        .login .container .form .row-1 .my-row1 {
          float: left; }
        .login .container .form .row-1 .my-row2 {
          float: right; }
      .login .container .form .last-row {
        width: 390px; }
        .login .container .form .last-row p {
          text-align: justify !important; }
    .login .bottom-last-row {
      width: 70%; } }
@media only screen and (max-width: 600px) {
  .login {
    padding: 100px 50px; }
    .login .success h3 {
      color: #5dbb46; }
    .login .success h4 {
      margin-bottom: 0px;
      font: normal normal 300 30px/120% Source Sans Pro, sans-serif; }
    .login .success .success-sign-up {
      width: 100%; }
      .login .success .success-sign-up .timer {
        width: 100%;
        margin-top: 30px; }
        .login .success .success-sign-up .timer .svg-style {
          transform: translate(0px, 0%) rotate(270deg) scale(1, 1); }
        .login .success .success-sign-up .timer #ell {
          fill: #77777712 !important;
          stroke: #5dbb46; }
        .login .success .success-sign-up .timer .time {
          font-size: 50px !important;
          line-height: 1;
          text-align: center;
          transform: translate(0px, -145%); }
        .login .success .success-sign-up .timer .label {
          text-align: center;
          transform: translate(0px, -170%); }
          .login .success .success-sign-up .timer .label span {
            font-size: 19.5px !important;
            line-height: 0.5 !important; }
    .login .container {
      width: 100% !important; }
      .login .container img {
        width: 300px; }
      .login .container .form {
        width: 100% !important;
        margin-top: 30px; }
        .login .container .form p {
          text-align: left !important; }
        .login .container .form .my-row {
          width: 90%; }
          .login .container .form .my-row input {
            width: 100%; }
        .login .container .form .row-1 {
          width: 90%;
          display: block; }
          .login .container .form .row-1 .my-row {
            width: 100%; }
            .login .container .form .row-1 .my-row input {
              width: 100%; }
          .login .container .form .row-1 .my-row1 {
            float: left; }
          .login .container .form .row-1 .my-row2 {
            float: left; }
        .login .container .form .last-row {
          width: 90%; }
          .login .container .form .last-row p {
            text-align: justify !important; }
    .login .bottom-last-row {
      width: 70%; }
      .login .bottom-last-row p {
        text-align: center !important; } }
@media only screen and (max-width: 500px) {
  .login {
    padding: 100px 35px; }
    .login .success h3 {
      color: #5dbb46; }
    .login .success h4 {
      margin-bottom: 0px;
      font: normal normal 300 26px/120% Source Sans Pro, sans-serif; }
    .login .success .success-sign-up {
      width: 100%; }
      .login .success .success-sign-up .timer {
        width: 100%;
        margin-top: 10px; }
        .login .success .success-sign-up .timer .svg-style {
          transform: translate(0px, 0%) rotate(270deg) scale(0.82, 0.82); }
        .login .success .success-sign-up .timer #ell {
          fill: #77777712 !important;
          stroke: #5dbb46; }
        .login .success .success-sign-up .timer .time {
          font-size: 42px !important;
          line-height: 1;
          text-align: center;
          transform: translate(0px, -160%); }
        .login .success .success-sign-up .timer .label {
          text-align: center;
          transform: translate(0px, -200%); }
          .login .success .success-sign-up .timer .label span {
            font-size: 18px !important;
            line-height: 0.5 !important; }
    .login .container {
      width: 100% !important;
      padding: 50px 20px; }
      .login .container .form {
        margin-top: 30px; }
    .login .bottom-last-row {
      width: 80%;
      padding: 10px 20px;
      height: auto; }
      .login .bottom-last-row p {
        line-height: 1.5;
        text-align: center !important; } }
@media only screen and (max-width: 400px) {
  .login {
    padding: 100px 30px; }
    .login .success h3 {
      color: #5dbb46; }
    .login .success h4 {
      margin-bottom: 0px;
      font: normal normal 300 24px/120% Source Sans Pro, sans-serif; }
    .login .success .success-sign-up {
      width: 100%; }
      .login .success .success-sign-up .timer {
        width: 100%;
        margin-top: 10px; }
        .login .success .success-sign-up .timer .days, .login .success .success-sign-up .timer .hours, .login .success .success-sign-up .timer .minutes, .login .success .success-sign-up .timer .seconds {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 70px; }
        .login .success .success-sign-up .timer .svg-style {
          transform: translate(0px, 0%) rotate(270deg) scale(0.72, 0.72); }
        .login .success .success-sign-up .timer #ell {
          fill: #77777712 !important;
          stroke: #5dbb46; }
        .login .success .success-sign-up .timer .time {
          font-size: 35px !important;
          line-height: 1;
          text-align: center;
          transform: translate(0px, -180%); }
        .login .success .success-sign-up .timer .label {
          text-align: center;
          transform: translate(0px, -200%); }
          .login .success .success-sign-up .timer .label span {
            font-size: 16px !important;
            line-height: 0.5 !important; }
    .login .container {
      width: 100% !important;
      padding: 50px 20px; }
      .login .container .form {
        margin-top: 20px; }
        .login .container .form .last-row button {
          width: 150px; }
    .login .bottom-last-row {
      width: 80%; }
      .login .bottom-last-row p {
        text-align: center !important; } }
@media only screen and (max-width: 350px) {
  .login {
    padding: 100px 20px; }
    .login .container {
      width: 100% !important;
      padding: 50px 20px; }
      .login .container img {
        width: 270px; }
      .login .container .form {
        margin-top: 20px; }
    .login .bottom-last-row {
      width: 90%; }
      .login .bottom-last-row p {
        text-align: center !important; } }

/*# sourceMappingURL=style.css.map */
